<div class="container">
    <br>
    
    <button class="btn btn-primary float-end " (click)="logout()">Logout</button>
<div class="jumbotron">
    <h1 class="display-4">Welcome User</h1>
    <p class="lead">Here you manage your post, add a post. Suppose your are ADMIN , your manage the users also.</p>
    <hr class="my-4">
    <p>Add Post, Manage Posts, Manage Comments and Users.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/manage-posts" role="button">Manage Posts</a>&nbsp;
      <a class="btn btn-primary btn-lg" href="/manage-comments" role="button">Manage Comments</a>&nbsp;
      <a class="btn btn-primary btn-lg" href="/manage-users" role="button" *ngIf="userRole=='ADMIN'">Manage Users</a>&nbsp;
    </p>
  </div>
  <br><br><br>
  <br><br><br>
  <br>
</div>